<h1>Post Archive for {{ year|date:"Y"}}</h1>
<ul>
    {% for date in date_list %}
        <li style="display: inline;">
            <a href="{% url 'munich:post_month_archive' year|date:'Y' date|date:'b' %}">
                {{ date|date:"F" }}        
            </a>
        </li>
    {% endfor %}
</ul>
<br>
<div>
    <ul>
        {% for post in object_list %}
            <il>
                {{ post.modify_dt|date:"Y-m-d" }}&nbsp;&nbsp;&nbsp;
                <a href="{{ post.get_absolute_url }}"><strong>{{ post.title }}</strong></a>
            </il>
        {% endfor %}
    </ul>
</div>